
    <h1>Contact</h1>
    <p>
      <a href="http://www.surreywildlifetrust.org/contact">Surrey Biodiversity Information Centre</a> <br />
For more information, please contact: <br />
Alistair Kirk,<br />
SBIC Manager <br />
Letter	Surrey Biodiversity Information Centre, c/o Surrey Wildlife Trust, <br />
School Lane, Pirbright, Woking, Surrey, GU24 0JN <br />
Telephone	01483 795448 <br />
Email	alistair.kirk@surreywt.org.uk <br />
<br />
We welcome visitors who wish to use our library of ID guides or have a specimen or photo they'd like to give to us for passing on to local experts for identification. However, if you'd like to speak with a particular member of staff or would like to spend more time here, please telephone or email us first and book an appointment to make sure you don't have a wasted journey. <br /><%= image_tag("Little Grebes courting.jpg", :alt => "SIBC", :class => "round") %> <br />
Please send data search enquiries and wildlife sightings to: <br />
Catherine Burton,<br />
Biological Records Officer <br />
Letter	Surrey Biodiversity Information Centre, c/o Surrey Wildlife Trust, <br />
School Lane, Pirbright, Woking, Surrey, GU24 0JN <br />
Telephone	01483 795448 <br />
Email	catherine.burton@surreywt.org.uk <br />
    </p>
  
