 <h1>Enquiry Service</h1>
    <pstyle="text-align:justify">
   

SBIC provides a background ecological data search service for both non-commercial and commercial needs.

A response based on our standard data search service includes information on:

    Statutory and non-statutory site designations (i.e. sites of regional/local importance including Ancient woodland (our response will include information on their name, their location and the basis for their designation)
    Protected species
    Rare/notable species
    Priority Species/Species of Conservation Concern as identified in the UK Biodiversity Action Plan


If you would like us to undertake a data search for you please email the following details to us:

    A grid reference or map, showing a site boundary, for the centre of the desired search area.
    The size/radius of the desired search area.
    Company details, or for non-commercial enquiries an indication of what the information will be used for.

Charges will be applied based on the amount of time needed to complete the report. Charges will not normally be applied to requests received from schools/colleges and members of the public.
    </p>
  
