
    <h1>Recording Tools</h1>
     <p style="text-align:justify">
     The Surrey biodiversity Information Centre performs 3 core functions, data collection, collation and dissemination. Recording has a long history and people have been keeping records both as amateurs and professionals for many years. Local societies and groups have formed who have particular interests, e.g. mammals or birds. The SBIC offers a wide range of support and assistance to Surrey's local groups as well as to individuals.

We collect biological data from many different sources, but one of our remits is to encourage recording within the community. Biological Recording is an enjoyable, flexible and educational pastime which can also produce really high quality data.<br />
<%= image_tag("frogy.jpg", :alt => "SIBC", :class => "round") %> <br />
<br />

Common frog (Rana temporaria)<br />

© Lee Manning<br />
This information can potentially be used to inform decision-making county-wide and therefore play a vital role in Kent's development for people and wildlife. Consequently we offer support and advice to anyone who is interested in recording and developing their identification skills in many or just one species group.

Recording
Biological Recording

Find out why Biological records are important, and learn the "Four W's" of a biological record.
Help and Advice

Tips on species identification, a grid reference tutorial, information about the McClintock Library and find out about upcoming courses and events.
Recording Methods

Helpful advice and information for data capture out in the field (from digital photography to identifying tracks and signs) and collating and displaying records (from spreadsheets to scrap books).
Recording Projects

Have a look through ideas and contacts for potential student projects, find out about current survey work in Kent, and get involved with ongoing recording projects.
Get Involved!

Find out about volunteering with KMBRC and other organisations, becoming a Tree or Pond Warden, and designing your own recording scheme.
A Year in a Suburban Garden

Armed with a keen eye and a handful of basic field guides, Mr Walters has been recording the wildlife in his garden nestled within a suburban Medway town over the course of a year. His charming drawings and notes are published here.
Send us Your Records

Your observations of any wild fauna and/or flora in Kent (England) may have some value, maybe not for you today but for the future or other people - you never know! Here you can upload your records online.
Support
Technical Support & Grants

See what support SBIC could offer your group (from displays to training), find out about the SBIC grants scheme and see example case studies of support we have given.
Surrey Land Access Database

If you are a landowner or farmer,SBIC may be able to help you to manage your land to benefit the wildlife of Surrey and hence benefit from Government funding schemes.
Recording Groups and Societies

Looking for a recording group? In this section are comprehensive lists of links to local and national groups and societies websites.
Newsletter

Download issues of the quarterly SBIC newsletter.
Record of the Month

Each month we choose our favorite record sent in by a member of the public, and publish it here.

    </p>
  
