
    <h1>Services and Support</h1>
    <pstyle="text-align:justify">

     Surrey Wildlife Trust works to protect Surrey’s unique network of wildlife habitats through a comprehensive program of data recording, ecological surveys and management plans. <br />
 <br />

Set up in 1991, Surrey Wildlife Trust Consultancy is a specialist service within the organisation, comprising experienced and highly qualified professional ecologists all of whom are dedicated to nature conservation. We offer a broad spectrum of ecological expertise and surveys at competitive prices.  <br />
 <br />


We undertake ecological assessments (Phase 1 habitat surveys and protected species surveys) for planning applications, detailed management plans, biological monitoring, advise on mitigation and habitat creation, conduct specialist botanical, mammal, reptile and amphibians surveys and are qualified for BREEAM assessments and Biodiversity Benchmark audits.  <br />
 <br />

Whenever appropriate the team can call upon the services of staff based within SWT plus local experts and partners to supplement their own findings and to provide background information or specialist survey skills.  <br />
 <br />
<br />
<%= image_tag("wild life trust.png", :alt => "SIBC", :class => "round") %> <br />
<br />

SWT Consultancy also provides the Ecological Advisory Service for Surrey Wildlife Trust. We undertake ecological surveys, research projects, monitoring and collate management plans for the Trusts land holdings and provide expert ecological advice to inform the Trust’s conservation work. This means we have a unique experience and skills base for assisting external parties with their land management issues.  <br />
 <br />

We have strong links with the Surrey Biodiversity Information Centre, who provide data management services, GIS mapping expertise and ecological data searches, all of which inform and enhance our ecological assessments and reports. <br />
 <br />

Our professional ecologists are full members of Institute of Ecology and Environmental Management (IEEM) and we are a member of the Association of Wildlife Trust Consultancies (AWTC),  <br />
 <br />

‘a nationwide network of quality environmental consultancies committed to sustainable activity based on ecological principles’. <br />
 <br />

The AWTC promotes quality standards, shares training and knowledge and works together on projects; members pass profits from their commercial activities to their parent trusts in order to help fund their valuable conservation work across the county.  <br />

    </p>
  
