    

    <h1>Submit your Sightings</h1>
    <p>
      <a href="http://www.surreywildlifetrust.org/">Surrey Biodiversity Information Centre</a>
      This project is to develop an improved website for SIBC
      with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the coursework application for the tutorial.
    </p>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

 
