<footer>
  <nav class="round">
    <ul>
     <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "FAQ", services_support_path %></li>
        <li><%= link_to "Terms and Conditions", submit_your_sightings_path %></li><br />
<br />
     The Surrey Wildlife Trust Ltd is a company limited by guarantee,<br /> Registered in England No: 645176.<br />
President: Dr. David Bellamy OBE. VAT No: 791.3799.78.<br />
Registered Charity No: 208123. Charities Aid Foundation "Give As You Earn." Registration No: 005805. <br />

    </ul>
  </nav>
</footer>
