<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.surreywildlifetrust.org/news/">News</a></li>
      <li><a href="http://www.surreywildlifetrust.org/faq/">FAQ</a></li>
       <li><a href="http://www.surreywildlifetrust.org/vacancies/">Vacancies</a></li>
        <li><a href="http://www.surreywildlifetrust.org/useful_links/">Useful Links</a></li>
        <li><a href="http://www.surreywildlifetrust.org/terms/">Terms and Conditions</a></li>
    </ul>
  </nav>
</footer>
